extends ../index

block content
    h1 Create user

    if errors
        each error in errors
            .alert.alert-danger= error

    form(action="", method="POST")
        .form-group
            label(for="storeId") Store Id
            input#storeId.form-control(type="text", name="storeId", value=values ? values.storeId : '')
        .form-group
            label(for="storeName") Store name
            input#storeName.form-control(type="text", name="storeName", value=values ? values.storeName : '')
        .form-group
            label(for="storeAddress") Store Address
            input#storeAddress.form-control(type="text", name="storeAddress", value=values ? values.storeAddress : '')
        .form-group
            label(for="dateCreate") Date Create
            input#dateCreate.form-control(type="date", name="dateCreate", value=values ? values.dateCreate : '')        

        button(class="btn btn-primary") Create
