extends ../index

block content
    h1 Create Product

    if errors
        each error in errors
            .alert.alert-danger= error

    form(action="", method="POST", enctype="multipart/form-data")
        .form-group
            label(for="name") Name
            input#name.form-control(type="text", name="name", value=values ? values.name : '')
        .form-group
            label(for="price") Price
            input#price.form-control(type="number", name="price", value=values ? values.price : '')
        .form-group
            label(for="storeId") Name Store
            select#storeId.form-control(name="storeId")
                each store in stores
                    option(value=store.storeId)= store.storeName
        .form-group
            label(for="quantity") Quantity
            input#quantity.form-control(type="number", name="quantity", value=values ? values.quantity : '') 
        .form-group
            label(for="picture") Picture
            input#pciture.form-control-file(type="file", name="picture")                 

        button(class="btn btn-primary") Create
